.navigation-menu {
    display: inline-block;
    list-style: none;
    text-align: center;
}
.navigation-menu-item {
    display: inline-block;
    /*margin: 25px 72px;*/
    padding: 25px 72px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.navigation-menu-item-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    text-align: center;
    color: #FF0000;
    font-family: sans-serif;
    font-weight: bold;
}
.photo-size {
    width: 100%; height: 789px;
}
.navigation {
    text-align: center;
}
.article-title {
    color: #373737;
    letter-spacing: 3.3px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 38px;

}
.article-text-one {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    font-family: sans-serif;
    word-spacing: 1px;
}
.article-text-two {
    margin-bottom: 66px;
    margin-top: 25px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    word-spacing: 1px;
    font-family: sans-serif;


}
.but {
    background-color: #FF0000;
    height: 51px;
    width: 191px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;

}
.info-link {
    color: #FFFFFF;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-weight: bold;



}
.footer-text {
    text-align: right;
    font-size: 16px;
    letter-spacing: 2.4px;
    margin-bottom: 29px;
margin-top: 82px ;
}